{% extends 'layout.html' %}

{% block body %}

<div class="bgimg-1">
    <div class="container-fluid justify-content-center" style="">
        <img class="pt-5" src="../static/Wulf2.png" width="200px" style=" display:block;margin:auto;">
        <ul class="nav flex-column" style="">
            <pre>
                
            </pre>
            <li class="nav-item mx-auto d-block list-item rounded">

                <a class="nav-link active" style="color:white;" href="#">Home</a>

            </li>
            <li class="nav-item mx-auto d-block list-item rounded">

                <a class="nav-link" style="color:white;" href="#">News</a>

            </li>
            <li class="nav-item mx-auto d-block list-item rounded">

                <a class="nav-link" style="color:white;" href="#">Products</a>

            </li>
        </ul>
        <!--<div class="row justify-content-center" style="background-color:red; position:relative;">-->
        <!--<div class="col-4" style=" background-color: blue;">hello</div>-->
        <!--</div>-->
    </div>

    <div class="progressContainer">

        <div class="progressBar">
            <pre></pre>
        </div>
    </div>
</div>

<div class="container-fluid justify-content-center">
    <div class="caption" style="position:relative; min-height: 100px;">
        <span> Hello Sir</span>

    </div>
</div>
<div id="footer" class="container-fluid bg-light fixed-bottom">
</div>
<div class="row align-items-end">
    <div class="col-4">Stuff</div>
    <div class="col-4">Stuff</div>
</div>
</div>

{% endblock %}